<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4">
        <h5>DARE NEXUS</h5>
        <p>
          Pioneering the future of digital challenges in collegiate
          environments.
        </p>
      </div>
      <div class="col-lg-2 col-md-6 mb-4">
        <h5>SYSTEM</h5>
        <ul class="list-unstyled">
          <li><a href="#">Initialize</a></li>
          <li><a href="#">Features</a></li>
          <li><a href="#">Protocol</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6 mb-4">
        <h5>SUPPORT</h5>
        <ul class="list-unstyled">
          <li><a href="#">Help Desk</a></li>
          <li><a href="#">Safety Guide</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <h5>NETWORK</h5>
        <p>© 2025 Dare Nexus. All systems operational.</p>
      </div>
    </div>
  </div>
</footer>
