{% extends 'base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block body %}
    <!-- Navigation -->
    {% include 'nav.html' %}
    
    <!-- Hero Section -->
    {% include 'home_comps/hero.html' %}
    
    <!-- Features Section -->
    {% include 'home_comps/features.html' %}
    
    <!-- CTA Section -->
    {% include 'home_comps/cta.html' %}
    
    <!-- Footer -->
    {% include 'footer.html' %}
{% endblock %}